:root{
    --color-principial: red;
    --ancho-principal: 250px;
}

.titulo{
    color: var(--color-principial);
}

.parrafo{
    color: var(--color-principial)
}

.contenedor{
    background-color: green;
    padding: 1rem;
    max-width: var(--ancho-principal);
}

